* {
    box-sizing: border-box;
}

body{
    margin: 0%;
}


body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  

.nav {
    background-color: #6649b8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
}

.nav ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active{
    font-weight: 700;
    background-color: #9e89d8;
    transition: none;
	color: rgba(255,255,255,0.76);
}

.nav li:hover{
    background-color: #9e89d8;
	width: 100%;

}

.nav{
    z-index: 100;
  }

.navy{
    font-size: 2rem;
}

.title1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 0px;
     
}



.card img {
    border-radius: 2% 2% 0% 0%;
    height: 400px;
    width: 350px;
    cursor:pointer;
    
    
}

.card:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    transform: scale(1.1);
}

.head {
    display: flex;
    justify-content: center;
    margin: 0;
    height: 2.5rem;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.button {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.b1{
    margin: 20px;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
  }
.link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 0;
    color: #6649b8;
    align-items: center;
    padding: 0;
  }

.movieDetail {
    display: flex;
    margin: 5rem 2rem;
    justify-content: space-between;
    /* position: relative; */
  }



.wrapper{
    display: flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    flex-shrink: 1;
    justify-content: space-around;
    margin-top: 2.5rem;
    width: 80%;
    overflow-x: scroll;
    overflow-y: hidden;
       
}

.heading {
    text-align: center;
  }
  
  /* button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
  
  #modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  }
  
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }
 

.wrapper .card1 {    
    border-radius: 2%;
    display: inline-block;
    padding-bottom:10px;
    margin:1.5rem;
    transition: transform .2s;
} 

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-shrink: 1;
    justify-content: space-around;
    margin-top: 2.5rem;
}
.card {
    
    border-radius: 2%;
    display: inline-block;
    padding-bottom:10px;
    margin:1.5rem;
    transition: transform .2s;
     
    
}

.b1 {
  background: #6649b8;
  border-radius: 999px;
  box-shadow: #6649b8 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: auto;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.h3{
    margin-left:2em;
    color: #6649b8;
}
.text-center {
    text-align: center;
  }
.image {
    /* height: 450px;
    width: 300px;
    display: flex;
    justify-content: left; */
    margin-right: 3rem;
}

.releaseDate {
    display: flex;
    justify-content: center;
    font-size: 1em;
    margin: 0px;
    padding: 1rem;
    font-weight: bold;
}

.overview {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: 0px;
    padding: 1rem;
}

